html {
	font-size: 16px;
}

body {
	font-family: "";
}

a[href^="tel:"] {
	pointer-events: none;
}

a {
	transition: opacity 0.3s;
}

a:hover {
	opacity: 0.7;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

ul,
ol {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	line-height: 1.5;
	text-rendering: optimizeSpeed;
}

ul,
ol {
	list-style: none;
}

a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}

a {
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
	max-width: 100%;
}

article > * + * {
	margin-top: 1em;
}

input,
button,
textarea,
select {
	font: inherit;
}

img:not([alt]) {
	filter: blur(10px);
}

input,
button,
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	border-radius: 0;
	outline: none;
	background: transparent;
	font: inherit;
}

textarea {
	resize: none;
}

input[type=checkbox],
input[type=radio] {
	display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
	cursor: pointer;
}

select::-ms-expand {
	display: none;
}

.header__inner {
	display: flex;
	justify-content: space-between;
}

.header__nav .menu {
	display: flex;
}

.header__nav .menu-item:not(:first-child) {
	margin-left: 1rem;
}

@media screen and (max-width: 768px) {

a[href^="tel:"] {
	pointer-events: auto;
}

}

